/*Portfolio Styles*/
.portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 15%;
  padding: 30px 200px;
}

.project {
  margin: 20px;
  padding: 100px 0px;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white-color);
  border-radius: 30px;
  flex: 0 45%;
}

.project-information {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.project-information-title {
  background-color: var(--background-color);
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.project-information-title h2 {
  font-size: 30px;
}

.project-information-title p {
  font-size: 20px;
}

.project-buttons {
  display: flex;
  flex-wrap: wrap;
}

.project-information a {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--light-blue-color);
  padding: 20px;
  margin: 0px 10px;
}

.project-information a:hover {
  background-color: var(--accent-color);
}

/*Media Queries*/
@media screen and (max-width: 1500px) {
  .project {
    margin: 20px 0px;
    padding: 100px 0px;
    flex: 0 100%;
  }
}

@media screen and (max-width: 1200px) {
  .portfolio {
    margin-left: 0;
    padding: 100px 10px;
  }
  .project {
    margin: 20px 0px;
    padding: 100px 0px;
    flex: 0 100%;
  }
}
