/*About Styles*/
.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 15%;
  padding: 50px 250px;
}

.about-information {
  background-color: var(--background-color);
  padding: 40px 30px 60px 30px;
  border-radius: 30px;
}

.about-image {
  border-radius: 50%;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about h2 {
  text-align: center;
  color: var(--white-color);
  font-size: 30px;
}

.about p {
  text-align: center;
  color: var(--white-color);
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.about span,
.about a {
  text-decoration: none;
  background-color: var(--light-blue-color);
  color: var(--white-color);
  font-size: 20px;
  margin: 20px;
  padding: 20px;
}

.about span:hover,
.about a:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.about-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  text-align: center;
}

/*Media Queries*/
@media screen and (max-width: 1200px) {
  .about {
    margin-left: 0;
    padding: 100px 10px;
  }
}
