#main-container{
display: flex;
font-family:Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    width:300px;
    background-color: #161f30;
    height: 100%;
    top:0;
    left:0;
    overflow-x: hidden;
    
}

nav span{
    font-size: 30px;
    align-self:flex-end;
    margin: 10px 50px 10px 0px;
    color: white;
}

nav span:hover{
    color: orange;
    cursor: pointer;
}

#about-section{
    margin-left: 450px;
    margin-top: 150px;
    margin-right: 200px;
}